@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Jersey 10", sans-serif;
  background-color: #F0EBFF;
  overflow: hidden;
}